# OpenAPI 3.1 contract for the platform's public, Pro, API and admin surfaces.
#
# Normative inputs: docs/23-api-spec-outline.md (shapes), docs/21-data-model.md (fields, vocabularies, gating),
# docs/04-standards.md §5 (API rules), docs/20-architecture.md §5 and §7 (tiers, auth), docs/10-prd-mvp.md §4
# (story ids). Where this file and docs/23 disagree, docs/23 wins and this file is wrong (docs/23 preamble).
#
# Placeholders: infraque.com is the product domain, pending the naming decision (docs/00-PLAN.md). Every hostname
# and URL in this file is replaced by one find-and-replace once the name is chosen.
#
# Conventions used in this file:
#   x-tier          minimum entitlement for the operation: public | pro | api | admin (see x-tier-definitions)
#   x-prd-stories   PRD story ids (docs/10 §4) the operation satisfies; scripts verify all 44 are covered
#   x-status        planned (not yet shipped) | live; x-sprint names the sprint from docs/10 §6
#   YAML anchors    &std_headers, &sec_* are plain YAML; every consumer used (Redoc, Swagger UI, PyYAML) resolves them
openapi: 3.1.0

info:
  title: Platform API
  version: 1.0.0-draft
  summary: Energy and infrastructure proposals, opportunities and their change feed, with provenance on every row.
  description: |
    The platform continuously discovers energy and infrastructure **proposals** (supply: interconnection queues,
    permits, dockets, announcements) and **opportunities** (demand: RFPs, funding, tenders, large-load requests),
    fuses them into one lifecycle record per real-world project and publishes them on three tiers:

    | Tier | Credential | What it sees |
    |---|---|---|
    | `public` | none (or a `read:public` key / free session) | records and events whose `public_at <= now()`; derived fields only; attribution rendered in every response |
    | `pro` | session or key with `read:live` | the same shapes with `lag_days = 0`, plus `field_provenance`, saved searches, alerts, exports |
    | `api` | key with `read:live` + `read:bulk` / `write:webhooks` | as Pro, plus NDJSON bulk streams, webhooks and higher limits |
    | `admin` | operator/owner session on the `admin.` host | everything, including unpublished, gated and dead-lettered records |

    **Every response carries the attribution envelope** (`meta`, `licence_summary`, `redactions[]`) and every
    record carries `provenance[]`. A record from a `restricted` or `unknown`-terms source is invisible on every
    non-admin surface; a field withheld under a source licence is listed in `redactions[]` with the status still
    `200`. Requests for a record that exists but is not visible to the caller's tier return `404`, never `403`,
    so that existence does not leak (docs/21 §8 item 3).

    **Versioning.** Path-versioned; `v1` is frozen at MVP launch. Additive changes (optional fields, new endpoints,
    documented-open vocabulary values) are non-breaking. Anything else ships as `v2`. A deprecated operation or
    version sends `Deprecation` and `Sunset` headers (RFC 8594) for at least six months before removal, and every
    key that used it in the prior 90 days is emailed (docs/04 API-7).

    **Transport.** HTTPS + HTTP/2, `application/json`; errors are RFC 9457 `application/problem+json`; timestamps
    RFC 3339 UTC with `Z`; dates `YYYY-MM-DD`; `snake_case`; public ids only (`prop_…`, `opp_…`, `org_…`, `evt_…`,
    `mat_…`) — internal UUIDs never appear. `Idempotency-Key` on every mutating request replays the original
    response for 24 h. `X-Request-Id` on every response. Public GETs are `Cache-Control: public, max-age=300` with
    an `ETag`; Pro/API responses are `private, no-store`.

    **Pagination, filtering, sorting** follow `x-filter-grammar` below (docs/23 §7). Unknown query parameters are
    a `400 unknown_parameter`, never ignored.

    **Rate limits** per `x-rate-limits` below (docs/23 §6); `RateLimit-*` headers on every response, `429` with
    `Retry-After` on breach.
  termsOfService: https://infraque.com/legal/api-licence
  contact:
    name: Platform API support
    url: https://infraque.com/docs/api
    email: api@infraque.com
  license:
    name: Platform API licence (drafted by legal-compliance; acceptance recorded per key, US-704 AC2)
    url: https://infraque.com/legal/api-licence

servers:
  - url: https://api.infraque.com
    description: |
      Public, Pro and API tiers. Every path in this group starts with `/v1`, so the effective base URL is
      `https://api.infraque.com/v1`. The host is unversioned here only because OpenAPI path keys must be unique
      across the document and the admin group reuses several path shapes (`/sources`, `/keys`); see api/README.md.
  - url: https://admin.infraque.com
    description: |
      Operators only (role `operator` or `owner`), separate hostname, second factor enforced by the identity
      provider, optional IP allowlist. Every path in this group starts with `/admin/v1`, so the effective base
      URL is `https://admin.infraque.com/admin/v1`. Never issued to a customer key.
  - url: https://infraque.com
    description: Feeds and sitemaps (`/feeds/*`, `/sitemap.xml`); edge-cached, public tier, counted per IP at 120/hour.

tags:
  - name: Proposals
    description: Supply-side objects — one record per real-world project (docs/21 §3.1). Public, delayed.
  - name: Opportunities
    description: Demand-side objects — RFPs, funding, tenders, auctions, programmes (docs/21 §3.3). Public, delayed.
  - name: Organizations
    description: Sponsors and issuers (docs/21 §3.5). No personal data.
  - name: Events
    description: The append-only change log (docs/21 §3.10). The product is the feed.
  - name: Matches
    description: Proposal ↔ opportunity matches with score and rationale (docs/21 §3.11).
  - name: Map
    description: Clustered GeoJSON for the map-first surface (docs/04 §2.2). Same filters and tier rules as the lists.
  - name: Context
    description: Built-infrastructure context layer (docs/00-PLAN.md 2026-09-14) — existing plants under the proposals map, and its identifier-free interaction measurement (docs/21 §3.20-§3.21). Public on every tier; no proposal semantics.
  - name: Documents
    description: Document metadata; bytes only where the licence allows (docs/21 §3.8).
  - name: Sources & licences
    description: Source registry and licence register — the attribution and gating truth (docs/21 §3.19, §4.1).
  - name: Meta
    description: Vocabularies and health.
  - name: Intake
    description: Submit-a-project and submit-an-RFP (US-1001, US-1003). Public, write-only, captcha-gated.
  - name: Account
    description: Current user, account, entitlement and seats (Pro+).
  - name: Billing
    description: Stripe Checkout and Customer Portal hand-offs; entitlement derives from Stripe webhooks through the BillingPort (docs/20 §9, docs/34 §1).
  - name: Saved searches & alerts
    description: Saved filter definitions and their delivery history (Pro+).
  - name: Exports
    description: Async CSV exports with provenance columns (Pro+).
  - name: API keys
    description: Self-service keys, shown once (API plan).
  - name: Bulk
    description: NDJSON streams with `updated_since` and cursor (scope `read:bulk`).
  - name: Webhooks
    description: Outbound subscriptions — a saved search with a URL as its channel (scope `write:webhooks`).
  - name: Feeds
    description: RSS 2.0, JSON Feed 1.1 and sitemaps on the public tier.
  - name: Admin — sources
    description: Source health, runs, snapshots, publish state and licence gates (US-904, US-905).
  - name: Admin — records
    description: Edit with reason, merge/unmerge, per-record publish state, resolution and extraction review.
  - name: Admin — social
    description: Post review queue and per-channel auto-publish (US-801–US-804).
  - name: Admin — tasks
    description: Reported problems, intake submissions, deletion requests (US-907).
  - name: Admin — customers
    description: Users, customers, subscriptions, leads and keys — read-through the CRM/ERP adapter (US-901–US-903).
  - name: Admin — operations
    description: Model cost and the audit log (US-909, US-901 AC2).

x-tier-definitions:
  description: |
    `x-tier` on an operation is the **minimum** entitlement. A higher tier sees the same shape with `meta.lag_days = 0`
    and more fields. Tier is a property of the reader, not a copy of the data (docs/20 §5). Licence gating is
    orthogonal and stricter: it decides whether a field may leave at all (docs/21 §8); tier decides how old it must be.
  public_at_semantics: |
    Every entity and event carries `published_at` (when it became visible to the live tier) and `public_at`
    (materialised `published_at + lag(source_id, event_type)`). The public predicate reads `public_at` only:
    `public_at IS NOT NULL AND public_at <= now()`. Pro/API/admin read `published_at <= now()`. A lag change is a
    configuration change that enqueues a `relag` job to recompute `public_at`; it is not instantaneous across
    historical rows and the admin UI says so (docs/21 §5.4). On the public tier a detail response renders the
    record as of `now − lag`: fields and events newer than the lag are absent, and `meta.data_as_of` states the
    cut (US-201 AC4). Default lag is per source class — 14 days supply, 7 days opportunities, bounded 7–30 —
    with per-source and per-event-type overrides (docs/04 §10 pick 1; `source.lag_days`, `source.lag_overrides`).
  tiers:
    public:
      credential: none, or an API key with only `read:public`, or a free-account session
      predicate: public_at <= now(); publish_state = public; source and licence permit the public tier
      fields: derived and identifying classes only; `raw`, `status_raw`, `raw_place`, exact coordinates from attribution-with-restriction sources and everything from restricted/unknown sources withheld
      lag_days: source.lag_days (or class default)
    pro:
      credential: session with account.entitlement in {pro, api, admin}, or key with `read:live`
      predicate: published_at <= now(); same licence gating as public
      fields: public fields plus `field_provenance` on detail responses, saved searches, alerts, exports, dismissals
      lag_days: 0
    api:
      credential: key with `read:live` and `read:bulk` and/or `write:webhooks`; plan tier `api`
      predicate: as pro
      fields: as pro; plus /v1/bulk/* streams and webhooks; higher limits
      lag_days: 0
    admin:
      credential: operator/owner session on the admin host; scope `admin:*` is never issued to a customer key
      predicate: none — every publish_state, gated sources, dead-lettered runs, costs
      fields: everything, including `overrides`, `raw`, `snapshot_id`, `publish_state`
      lag_days: 0

x-filter-grammar:
  description: |
    `field=value` equality; `field=a,b` OR within one facet; `field[op]=value` for ranges with op in
    `gte, lte, gt, lt, from, to`. Facets combine with AND, values within a facet with OR (US-102 AC3). Filters
    round-trip in the URL so a shared link reproduces the result set on the same tier (US-102 AC2). Unknown
    parameters → `400 unknown_parameter`. Sorting: `sort=-last_changed,name_canonical`, `-` descending, allowlisted
    per resource. Pagination is cursor-based only: `limit` (default 50, max 200; 1,000 on `/v1/bulk/*`) and an
    opaque `cursor` valid 24 h; `page.{next_cursor, prev_cursor, has_more}` in the envelope; `meta.total` and
    `meta.total_is_estimate` only with `include=count` (exact ≤ 10,000 rows).
  operators: [gte, lte, gt, lt, from, to]
  sort_allowlist:
    proposals: [last_changed, first_seen, capacity_mw, name_canonical]
    opportunities: [due_at, open_at, last_changed, budget_amount]
    events: [seq, observed_at]
    matches: [score, first_matched_at]
  defaults:
    proposals: -last_changed
    opportunities: "due_at (with status=open)"
    events: -seq
    matches: -score

x-rate-limits:
  description: |
    Two layers — edge rules per IP for anonymous abuse and an application sliding window per key or session
    (docs/20 §7). Defaults, configurable per plan and per key (docs/10 A-8, US-702 AC1). Headers on every response:
    `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset` (delta-seconds), `RateLimit-Policy`. On breach:
    `429 rate_limited` with `Retry-After`; on daily cap: `429 quota_exceeded` with `Retry-After` to midnight UTC.
    Feeds are edge-cached and counted per IP at 120/hour. Every request is logged with key id, endpoint, status
    and latency (metric M-7, US-702 AC3).
  tiers:
    public_per_ip: {read_per_hour: 60, search_per_hour: 20, bulk: null, writes_per_hour: 5, daily_cap: 1000}
    free_account: {read_per_hour: 300, search_per_hour: 60, bulk: null, writes_per_hour: 10, daily_cap: 3000}
    pro: {read_per_hour: 600, search_per_hour: 120, exports_per_day: 5, export_rows_max: 10000, writes_per_hour: 60, daily_cap: 10000}
    api: {read_per_hour: 6000, search_per_hour: 600, bulk_requests_per_hour: 20, writes_per_hour: 600, daily_cap: 50000}
    admin: {read_per_hour: 1200}
    feeds_per_ip: {read_per_hour: 120}

# Headers present on every response (docs/23 §1, §6; docs/04 API-6, API-7, API-9).
x-standard-headers: &std_headers
  X-Request-Id:
    $ref: '#/components/headers/X-Request-Id'
  RateLimit-Limit:
    $ref: '#/components/headers/RateLimit-Limit'
  RateLimit-Remaining:
    $ref: '#/components/headers/RateLimit-Remaining'
  RateLimit-Reset:
    $ref: '#/components/headers/RateLimit-Reset'
  RateLimit-Policy:
    $ref: '#/components/headers/RateLimit-Policy'
  ETag:
    $ref: '#/components/headers/ETag'
  Cache-Control:
    $ref: '#/components/headers/Cache-Control'
  Deprecation:
    $ref: '#/components/headers/Deprecation'
  Sunset:
    $ref: '#/components/headers/Sunset'

# Security requirement sets. In OpenAPI 3.1 the string list on a non-OAuth scheme is a list of role names —
# here the key scopes of docs/23 §5 for ApiKey, and entitlement / role names for the session schemes.
x-security-sets:
  public: &sec_public
    - {}
    - ApiKey: [read:public]
    - Session: []
  pro: &sec_pro
    - ApiKey: [read:live]
    - Session: [pro]
  api_bulk: &sec_api_bulk
    - ApiKey: [read:live, read:bulk]
  api_keys: &sec_api_keys
    - Session: [api]
    - ApiKey: [read:live]
  api_webhooks: &sec_api_webhooks
    - ApiKey: [write:webhooks]
    - Session: [api]
  admin: &sec_admin
    - AdminSession: [operator, owner]
  owner: &sec_owner
    - AdminSession: [owner]
  legal: &sec_legal
    - AdminSession: [legal]

# Error responses common to every operation (docs/23 §8). Listed once here and referenced per operation.
x-common-errors: &common_errors
  '429':
    $ref: '#/components/responses/RateLimited'
  '503':
    $ref: '#/components/responses/ServiceUnavailable'
  default:
    $ref: '#/components/responses/Problem'

# Path-level server override for the admin group (docs/23 §1: separate hostname).
x-admin-servers: &admin_servers
  - url: https://admin.infraque.com
    description: Operator surface; effective base URL https://admin.infraque.com/admin/v1.
x-feed-servers: &feed_servers
  - url: https://infraque.com
    description: Feeds and sitemaps on the product host.

paths:
  # ───────────────────────────── §3.1 Public — delayed, no key required ─────────────────────────────
  /v1/proposals:
    get:
      operationId: listProposals
      tags: [Proposals]
      summary: List proposals
      description: |
        Paginated list with the core fields (US-101 AC1): `name_canonical`, `kind`, `technology`, `capacity_mw`,
        `storage_mwh`, `jurisdiction`, `location.state_code` / `county_name`, `lifecycle_state`, `last_changed`,
        `source_count`. Default sort `-last_changed`. Public tier returns records whose `public_at <= now()` only
        (US-101 AC3); nothing from a gated, restricted or unknown-terms source at any tier (US-101 AC4).
        `source_count` is computed over visible sources only. `Accept: text/csv` returns an export stream on Pro+
        with provenance columns and a leading `#` licence block (US-105 AC2). Append `.rss` or `.json` to the path
        for the feed twin (`/feeds/proposals.{format}`).
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-101, US-102, US-103, US-105, US-601, US-604, US-703]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/SortProposals'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/ProposalKind'
        - $ref: '#/components/parameters/Technology'
        - $ref: '#/components/parameters/LifecycleState'
        - $ref: '#/components/parameters/Jurisdiction'
        - $ref: '#/components/parameters/Iso'
        - $ref: '#/components/parameters/StateCode'
        - $ref: '#/components/parameters/CountyFips'
        - $ref: '#/components/parameters/Placement'
        - $ref: '#/components/parameters/SponsorId'
        - $ref: '#/components/parameters/SourceIdFilter'
        - $ref: '#/components/parameters/CapacityMwGte'
        - $ref: '#/components/parameters/CapacityMwLte'
        - $ref: '#/components/parameters/StorageMwhGte'
        - $ref: '#/components/parameters/FirstSeenFrom'
        - $ref: '#/components/parameters/FirstSeenTo'
        - $ref: '#/components/parameters/LastChangedFrom'
        - $ref: '#/components/parameters/LastChangedTo'
        - $ref: '#/components/parameters/UpdatedSince'
        - $ref: '#/components/parameters/SlugFilter'
      responses:
        '200':
          description: A page of proposals inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalListResponse'
              examples:
                public:
                  $ref: '#/components/examples/ProposalListPublic'
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvExport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenTier'
        <<: *common_errors

  /v1/proposals/geo:
    get:
      operationId: getProposalsGeo
      tags: [Map, Proposals]
      summary: Map payload — clustered proposals within a bounding box
      description: |
        Returns a GeoJSON `FeatureCollection` for the viewport (US-104). Accepts every filter of `GET /v1/proposals`
        so list, map and feed share one filter grammar (docs/04 D-4).

        **Placement grades (ADR 0008, docs/21 §3.7), derived from `location.precision`, never stored:**
        `exact` → `exact` (drawn as a point/cluster, joinable to assets); `county_centroid`, `state_centroid`,
        `country_centroid` → `region` (drawn as a `feature_kind: region` feature — `region_level`, `region_id`
        [`county_fips` / `state_code` / `country`], `name`, `count`, `lifecycle_state_counts`, `technology_counts`,
        `capacity_mw_sum`; the geometry is the region's representative point, never a polygon — the filled polygon a
        client draws comes from `GET /v1/geo/regions`, keyed by `region_id`); `unknown` → `none` (never drawn,
        counted in `meta.unplaced_count` only). `exact`-grade proposals cluster server-side by `zoom` (docs/04
        D-10) below the split threshold (≤ 500 visible records); above it, `cluster` features. The `placement`
        filter (csv of `exact,region,none`, default `exact,region` here) controls which grades render as features
        — it never changes `meta.unplaced_count`, `totals.records`, `lifecycle_state_counts` or `technology_counts`,
        which always cover every visible record matching the other filters. `county_fips` filters records to the
        listed county FIPS codes (any placement grade).

        **Restricted-precision rule (docs/04 D-9, US-104 AC3).** A record whose geometry provenance is a source with
        `allows_raw_publication = false` or `reuse_class ∈ {restricted, unknown}` never renders an exact point on a
        non-admin surface: the county centroid (else the state centroid) is returned with `precision =
        county_centroid` (else `state_centroid`) and `precision_reason = licence`, the record is grouped into the
        matching `region` feature rather than drawn as a `proposal` feature, `placement=exact` does not select it
        and `placement=region` does (the grade is judged as served, not as stored), and the detail envelope lists a
        `redactions[]` entry with reason `licence_precision`. Records whose only evidence is restricted are absent
        from every count.

        Budget: ≤ 2,000 features, ≤ 300 KB gzipped, p95 ≤ 400 ms (docs/04 D-13, E-16).
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-104, US-102, US-601]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Bbox'
        - $ref: '#/components/parameters/Zoom'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/ProposalKind'
        - $ref: '#/components/parameters/Technology'
        - $ref: '#/components/parameters/LifecycleState'
        - $ref: '#/components/parameters/Jurisdiction'
        - $ref: '#/components/parameters/Iso'
        - $ref: '#/components/parameters/StateCode'
        - $ref: '#/components/parameters/CountyFips'
        - $ref: '#/components/parameters/Placement'
        - $ref: '#/components/parameters/SponsorId'
        - $ref: '#/components/parameters/SourceIdFilter'
        - $ref: '#/components/parameters/CapacityMwGte'
        - $ref: '#/components/parameters/CapacityMwLte'
        - $ref: '#/components/parameters/StorageMwhGte'
        - $ref: '#/components/parameters/FirstSeenFrom'
        - $ref: '#/components/parameters/FirstSeenTo'
        - $ref: '#/components/parameters/LastChangedFrom'
        - $ref: '#/components/parameters/LastChangedTo'
        - $ref: '#/components/parameters/UpdatedSince'
      responses:
        '200':
          description: Clustered features for the viewport inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoResponse'
              examples:
                clusters:
                  $ref: '#/components/examples/GeoClusters'
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/proposals/{public_id}:
    parameters:
      - $ref: '#/components/parameters/ProposalPublicId'
    get:
      operationId: getProposal
      tags: [Proposals]
      summary: Proposal detail
      description: |
        Canonical fields, the `provenance[]` sources panel (one row per visible `proposal_source`: source name,
        `source_record_id` where the licence allows, `retrieved_at`, licence badge, `source_url`; gated rows
        omitted entirely, docs/21 §8 item 3), sponsor summary and linked organisations (US-201 AC1, US-203 AC1).
        For attribution-with-restriction sources (CAISO) the raw row is not returned; derived fields plus a
        "view at source" link are (US-201 AC2). A merged record answers `301` with `Location` set to the surviving
        public id (US-201 AC3); an unpublished or taken-down record answers `410`. On the public tier the record is
        rendered as of `now − lag` and `meta.data_as_of` states the cut (US-201 AC4). Pro+ adds `field_provenance`.
        `include=events,matches,sources` expands the related collections inline.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-201, US-203, US-601, US-604, US-703]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: The proposal inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalDetailResponse'
              examples:
                public:
                  $ref: '#/components/examples/ProposalDetailPublic'
        '301':
          $ref: '#/components/responses/MovedPermanently'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        <<: *common_errors

  /v1/proposals/{public_id}/events:
    parameters:
      - $ref: '#/components/parameters/ProposalPublicId'
    get:
      operationId: listProposalEvents
      tags: [Proposals, Events]
      summary: Lifecycle timeline
      description: |
        Events on the proposal, newest first: type, `observed_at`, source, `before → after` for status changes
        (US-202 AC1). `merged` and `unmerged` events are present and labelled; a `merged` event's `before.absorbed`
        links to the absorbed record (US-202 AC2). The proposal's `lifecycle_state` equals the `after` value of the
        latest visible `status_change` event or `unknown` (US-202 AC3). Public tier: events with `public_at <= now()`.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-202, US-302, US-601]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/EventType'
        - $ref: '#/components/parameters/SortEvents'
      responses:
        '200':
          description: A page of events for the subject.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
              examples:
                timeline:
                  $ref: '#/components/examples/EventList'
        '301':
          $ref: '#/components/responses/MovedPermanently'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        <<: *common_errors

  /v1/proposals/{public_id}/sources:
    parameters:
      - $ref: '#/components/parameters/ProposalPublicId'
    get:
      operationId: listProposalSources
      tags: [Proposals, Sources & licences]
      summary: Provenance rows
      description: |
        One row per visible `proposal_source` (docs/21 §3.2). `raw` and `status_raw` are present only when the
        licence has `allows_raw_publication = true`; otherwise they are absent and named in `redactions[]`
        (reason `licence`). Rows from restricted or unknown-terms sources are omitted, not greyed out. Requesting
        `include=raw` on a source that withholds raw answers `403 licence_gated` while the derived view is still
        available at the parent resource.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-201, US-105, US-703]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/IncludeRaw'
      responses:
        '200':
          description: Provenance rows for the proposal.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalSourceListResponse'
        '403':
          $ref: '#/components/responses/LicenceGated'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/proposals/{public_id}/matches:
    parameters:
      - $ref: '#/components/parameters/ProposalPublicId'
    get:
      operationId: listProposalMatches
      tags: [Proposals, Matches]
      summary: Matched opportunities with score and rationale
      description: |
        Active matches for the proposal, `-score` first, each with `score`, `rationale` (rules passed / failed) and
        `rationale_text` (US-203 AC2, US-402 AC1). Empty `data` when none. On Pro+ each match carries
        `dismissed_by_me` reflecting the caller's per-user dismissal (US-402 AC2); the global match is unchanged.
      x-tier: public
      x-status: planned
      x-sprint: 3
      x-prd-stories: [US-203, US-401, US-402]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/MatchStatus'
      responses:
        '200':
          description: A page of matches.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/opportunities:
    get:
      operationId: listOpportunities
      tags: [Opportunities]
      summary: List opportunities
      description: |
        Kind, issuer, title, jurisdiction, technologies, `capacity_sought_mw` or budget, `open_at`, `due_at`,
        status and source on every row (US-301 AC1). Default view `status=open` sorted `due_at` ascending
        (US-301 AC2). Tier rules of US-101 AC3–AC4 apply (US-301 AC3). `Accept: text/csv` on Pro+.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-301, US-303, US-105, US-601, US-703]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/SortOpportunities'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/OpportunityKind'
        - $ref: '#/components/parameters/IssuerId'
        - $ref: '#/components/parameters/OpportunityStatus'
        - $ref: '#/components/parameters/Technologies'
        - $ref: '#/components/parameters/Jurisdiction'
        - $ref: '#/components/parameters/StateCode'
        - $ref: '#/components/parameters/SourceIdFilter'
        - $ref: '#/components/parameters/DueAtFrom'
        - $ref: '#/components/parameters/DueAtTo'
        - $ref: '#/components/parameters/OpenAtFrom'
        - $ref: '#/components/parameters/OpenAtTo'
        - $ref: '#/components/parameters/CapacitySoughtMwGte'
        - $ref: '#/components/parameters/BudgetAmountGte'
        - $ref: '#/components/parameters/FirstSeenFrom'
        - $ref: '#/components/parameters/FirstSeenTo'
        - $ref: '#/components/parameters/LastChangedFrom'
        - $ref: '#/components/parameters/LastChangedTo'
        - $ref: '#/components/parameters/UpdatedSince'
        - $ref: '#/components/parameters/SlugFilter'
      responses:
        '200':
          description: A page of opportunities inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityListResponse'
              examples:
                open:
                  $ref: '#/components/examples/OpportunityListPublic'
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvExport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/ForbiddenTier'
        <<: *common_errors

  /v1/opportunities/geo:
    get:
      operationId: getOpportunitiesGeo
      tags: [Map, Opportunities]
      summary: Map payload — opportunities as service territories, clusters or points
      description: |
        Same contract as `GET /v1/proposals/geo` for the demand side (docs/04 D-8, D-11). An opportunity whose
        location is a `service_territory` polygon is returned as a `Polygon`/`MultiPolygon` feature with a
        `centroid` property; overlapping polygons are ordered by `due_at` ascending. Others follow the point /
        county-centroid / state-aggregate precedence and the restricted-precision rule. Cluster features carry
        `status_counts` and `technology_counts`.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-104, US-301]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Bbox'
        - $ref: '#/components/parameters/Zoom'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/OpportunityKind'
        - $ref: '#/components/parameters/IssuerId'
        - $ref: '#/components/parameters/OpportunityStatus'
        - $ref: '#/components/parameters/Technologies'
        - $ref: '#/components/parameters/Jurisdiction'
        - $ref: '#/components/parameters/StateCode'
        - $ref: '#/components/parameters/SourceIdFilter'
        - $ref: '#/components/parameters/DueAtFrom'
        - $ref: '#/components/parameters/DueAtTo'
        - $ref: '#/components/parameters/UpdatedSince'
      responses:
        '200':
          description: Opportunity features for the viewport inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoResponse'
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/opportunities/{public_id}:
    parameters:
      - $ref: '#/components/parameters/OpportunityPublicId'
    get:
      operationId: getOpportunity
      tags: [Opportunities]
      summary: Opportunity detail
      description: |
        All fields, the `provenance[]` sources panel (as `GET /v1/proposals/{public_id}`), issuer summary and
        linked `documents[]` — title, type and link only; no article bodies, no copied PDFs (US-302 AC1). Status
        changes are events with source and date, not overwrites (US-302 AC2); the timeline is at
        `/{public_id}/events`. `301`/`410` semantics as for proposals.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-302, US-303, US-601, US-604, US-703]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: The opportunity inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityDetailResponse'
        '301':
          $ref: '#/components/responses/MovedPermanently'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        <<: *common_errors

  /v1/opportunities/{public_id}/events:
    parameters:
      - $ref: '#/components/parameters/OpportunityPublicId'
    get:
      operationId: listOpportunityEvents
      tags: [Opportunities, Events]
      summary: Status timeline
      description: Events on the opportunity, newest first; `frozen → cancelled → reinstated` each carry source and date (US-302 AC2).
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-302, US-202, US-601]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/EventType'
        - $ref: '#/components/parameters/SortEvents'
      responses:
        '200':
          description: A page of events for the subject.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
        '301':
          $ref: '#/components/responses/MovedPermanently'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        <<: *common_errors

  /v1/opportunities/{public_id}/sources:
    parameters:
      - $ref: '#/components/parameters/OpportunityPublicId'
    get:
      operationId: listOpportunitySources
      tags: [Opportunities, Sources & licences]
      summary: Provenance rows
      description: One row per visible `opportunity_source` (docs/21 §3.4); same gating as the proposal twin.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-302, US-303, US-105]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/IncludeRaw'
      responses:
        '200':
          description: Provenance rows for the opportunity.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunitySourceListResponse'
        '403':
          $ref: '#/components/responses/LicenceGated'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/opportunities/{public_id}/matches:
    parameters:
      - $ref: '#/components/parameters/OpportunityPublicId'
    get:
      operationId: listOpportunityMatches
      tags: [Opportunities, Matches]
      summary: Matched proposals with score and rationale
      description: Active matches for the opportunity; the demand-side twin of `GET /v1/proposals/{public_id}/matches` (US-401).
      x-tier: public
      x-status: planned
      x-sprint: 3
      x-prd-stories: [US-401, US-402]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/MatchStatus'
      responses:
        '200':
          description: A page of matches.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/organizations:
    get:
      operationId: listOrganizations
      tags: [Organizations]
      summary: List organizations
      description: Sponsors and issuers. `is_curated_issuer=true` lists the curated RFP issuer registry (US-303). No personal data.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-203, US-303, US-703]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/OrganizationType'
        - $ref: '#/components/parameters/Country'
        - $ref: '#/components/parameters/Jurisdiction'
        - $ref: '#/components/parameters/IsCuratedIssuer'
        - $ref: '#/components/parameters/UpdatedSince'
      responses:
        '200':
          description: A page of organizations.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvExport'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/organizations/{public_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationPublicId'
    get:
      operationId: getOrganization
      tags: [Organizations]
      summary: Organization detail
      description: Canonical name, type, identifiers, aliases (each with its provenance quartet) and counts of visible proposals and opportunities (US-203 AC1).
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-203, US-303, US-703]
      security: *sec_public
      responses:
        '200':
          description: The organization inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetailResponse'
        '301':
          $ref: '#/components/responses/MovedPermanently'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/organizations/{public_id}/proposals:
    parameters:
      - $ref: '#/components/parameters/OrganizationPublicId'
    get:
      operationId: listOrganizationProposals
      tags: [Organizations, Proposals]
      summary: Proposals sponsored by the organization
      description: Same shape and filters as `GET /v1/proposals`, scoped to `sponsor_org_id` (US-203 AC1).
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-203]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/SortProposals'
        - $ref: '#/components/parameters/ProposalKind'
        - $ref: '#/components/parameters/Technology'
        - $ref: '#/components/parameters/LifecycleState'
        - $ref: '#/components/parameters/Jurisdiction'
      responses:
        '200':
          description: A page of proposals.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/organizations/{public_id}/opportunities:
    parameters:
      - $ref: '#/components/parameters/OrganizationPublicId'
    get:
      operationId: listOrganizationOpportunities
      tags: [Organizations, Opportunities]
      summary: Opportunities issued by the organization
      description: Same shape and filters as `GET /v1/opportunities`, scoped to `issuer_org_id` (US-303).
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-303]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/SortOpportunities'
        - $ref: '#/components/parameters/OpportunityKind'
        - $ref: '#/components/parameters/OpportunityStatus'
        - $ref: '#/components/parameters/Technologies'
      responses:
        '200':
          description: A page of opportunities.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/events:
    get:
      operationId: listEvents
      tags: [Events]
      summary: Global change feed
      description: |
        Every published event across all subjects, `-seq` by default. `since` is either a `seq` watermark or an
        RFC 3339 timestamp and pairs with `cursor` for exactly-once consumption (US-703 AC1). Filter by
        `subject_type`, `subject_id`, `event_type`, `source_id`, `changed_key`. Public tier: `public_at <= now()`;
        no event whose `licence_id` resolves to a restricted or unknown licence, at any tier (docs/21 §8 item 2).
        An event is visible only when its subject is: the subject proposal or opportunity must itself pass the
        record-level visibility predicate for the caller's tier (`publish_state = public`, publishable
        `min_reuse_class`, a permitted source, and `public_at` — `published_at` on Pro/API — in the past), so an
        event on a hidden, restricted-licence or not-yet-public record is absent here, on `GET /v1/events/{id}`
        and on `/feeds/events.*`, never rendered with a placeholder subject. Events whose subject is not a
        proposal or opportunity (operator audit events) are never served on a non-admin surface.
        `before`/`after` are keyed by canonical field name and gated at field class; withheld keys appear in
        `redactions[]`.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-703, US-202, US-601, US-604]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/SortEvents'
        - $ref: '#/components/parameters/Since'
        - $ref: '#/components/parameters/SubjectType'
        - $ref: '#/components/parameters/SubjectId'
        - $ref: '#/components/parameters/EventType'
        - $ref: '#/components/parameters/SourceIdFilter'
        - $ref: '#/components/parameters/ChangedKey'
        - $ref: '#/components/parameters/ObservedAtFrom'
        - $ref: '#/components/parameters/ObservedAtTo'
      responses:
        '200':
          description: A page of events.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
              examples:
                feed:
                  $ref: '#/components/examples/EventList'
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvExport'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/events/{event_id}:
    parameters:
      - $ref: '#/components/parameters/EventId'
    get:
      operationId: getEvent
      tags: [Events]
      summary: Event by id
      description: >-
        Get-by-id for webhook consumers that dedupe on `data.event.id` (docs/23 §9.1) and for `alert.event_seqs`
        joins. Same visibility predicate as `GET /v1/events`, subject visibility included: `404` for an event
        whose subject the caller's tier may not see.
        Carries `asset_counts` (the organisation's visible assets through `asset_owner`: distinct total, by role, by
        type and by role-and-type -- the company page's "operates 3 pipelines, owns 2 plants"), `group_asset_counts`
        (the same over the organisation plus its direct subsidiaries, for a holding company), `parent` (the GLEIF
        Level 2 direct parent as an organisation summary, or null) and `subsidiaries` (organisations whose parent
        is this one, at most 50, with `subsidiary_count` the full number), where the ownership data lane has set
        `parent_org_id` (ADR 0008 §2).
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-703]
      security: *sec_public
      responses:
        '200':
          description: The event inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/documents/{document_id}:
    parameters:
      - $ref: '#/components/parameters/DocumentId'
    get:
      operationId: getDocument
      tags: [Documents]
      summary: Document metadata and link
      description: |
        Metadata on every tier (title, `doc_type`, `published_date`, identifiers, provenance quartet). `download_url`
        (pre-signed, short-lived) is present only when `storage_policy = stored` and the licence allows document
        publication; news is never stored (`link_only` / `headline_only`) and the response links to `source_url`
        instead (US-302 AC1, docs/02 §4). `personal_data_flag = true` documents never expose bytes on non-admin tiers.
      x-tier: public
      x-status: planned
      x-sprint: 2
      x-prd-stories: [US-302]
      security: *sec_public
      responses:
        '200':
          description: The document inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/sources:
    get:
      operationId: listSources
      tags: [Sources & licences]
      summary: Source registry
      description: |
        Public view of the registry mirrored from `data/sources.yaml` (docs/21 §4.1): name, operator, jurisdiction,
        category, cadence, licence summary, `attribution_text`, `publish_state`, `lag_days`, `implemented`. This is
        where the credit line on every list page comes from (US-105 AC1). Curated RFP issuers are rows here with
        `category = procurement` (US-303 AC1). Sources with an unmet gate are listed (their existence is public in
        `data/sources.yaml`) with `publish_state = ingest_only`; their rows are not.
      x-tier: public
      x-status: planned
      x-sprint: 1
      x-prd-stories: [US-105, US-303, US-704]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/SourceCategory'
        - $ref: '#/components/parameters/Jurisdiction'
        - $ref: '#/components/parameters/ReuseClass'
        - $ref: '#/components/parameters/PublishStateFilter'
      responses:
        '200':
          description: A page of sources.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/sources/{source_id}:
    parameters:
      - $ref: '#/components/parameters/SourceId'
    get:
      operationId: getSource
      tags: [Sources & licences]
      summary: Source detail
      description: One registry row with its licence, attribution text, publish state, lag and last successful run time (US-704).
      x-tier: public
      x-status: planned
      x-sprint: 1
      x-prd-stories: [US-105, US-704]
      security: *sec_public
      responses:
        '200':
          description: The source inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/licences:
    get:
      operationId: listLicences
      tags: [Sources & licences]
      summary: Licence register
      description: Reuse class and permissions per licence (docs/21 §3.19). Gate evidence fields are admin-only.
      x-tier: public
      x-status: planned
      x-sprint: 1
      x-prd-stories: [US-105, US-704]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/ReuseClass'
      responses:
        '200':
          description: A page of licences.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenceListResponse'
        <<: *common_errors

  /v1/licences/{licence_id}:
    parameters:
      - $ref: '#/components/parameters/LicenceId'
    get:
      operationId: getLicence
      tags: [Sources & licences]
      summary: Licence detail
      x-tier: public
      x-status: planned
      x-sprint: 1
      x-prd-stories: [US-704]
      security: *sec_public
      responses:
        '200':
          description: The licence inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenceDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/meta/vocabularies:
    get:
      operationId: getVocabularies
      tags: [Meta]
      summary: Enum vocabularies
      description: |
        Every vocabulary the filters accept (docs/21 §7): proposal kinds, technologies, lifecycle states, opportunity
        kinds and statuses, event types, organization types, reuse classes, publish states. Vocabularies are
        documented as open: a new value is announced ≥ 30 days ahead (docs/04 API-7) and appears here first.
      x-tier: public
      x-status: planned
      x-sprint: 1
      x-prd-stories: [US-102, US-703]
      security: *sec_public
      responses:
        '200':
          description: Vocabularies keyed by domain.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VocabulariesResponse'
        <<: *common_errors

  /v1/intake/proposals:
    post:
      operationId: submitIntakeProposal
      tags: [Intake]
      summary: Submit a project
      description: |
        Creates a proposal with `created_by = user` and `publish_state = pending_review` — invisible on every public,
        Pro and API surface — plus an admin task of type `intake_proposal` (US-1001 AC2). Contact name and email are
        stored on the task and forwarded to the CRM through the adapter, never on `organization`; they are
        *submitted* personal data (consented, deletable). One transactional confirmation email is sent, nothing else
        (US-1001 AC3). Captcha-gated and limited to 5/hour per IP (docs/23 P-5). No file upload in MVP.
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-1001, US-1002]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntakeProposalRequest'
      responses:
        '202':
          description: Accepted for review. The body carries the task id and a private status link for the submitter (US-1002 AC3).
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntakeAcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        <<: *common_errors

  /v1/intake/opportunities:
    post:
      operationId: submitIntakeOpportunity
      tags: [Intake]
      summary: Notify the platform of an RFP
      description: |
        Same pattern as `/v1/intake/proposals` with opportunity fields (US-1003 AC1). Creates a pending opportunity
        and a task of type `intake_opportunity`; on approval the issuer is added to the curated issuer registry if
        new (US-303).
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-1003, US-1002]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntakeOpportunityRequest'
      responses:
        '202':
          description: Accepted for review.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntakeAcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        <<: *common_errors

  /v1/reports:
    post:
      operationId: createReport
      tags: [Intake]
      summary: Report a problem on a record
      description: |
        Captures record id, issue type (`wrong_merge`, `wrong_status`, `wrong_sponsor`, `other`), free text and an
        optional email; creates an admin task of type `report` and sends no outbound email (US-204 AC1). Minimum
        personal data; the response carries the privacy notice link (US-204 AC2). Limited to 5/hour per IP.
      x-tier: public
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-204, US-907]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
      responses:
        '202':
          description: Report accepted as a task.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportAcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/health:
    get:
      operationId: getHealth
      tags: [Meta]
      summary: Liveness and data freshness
      description: |
        `status`, `data_as_of` for the public materialised view, `lag_days` defaults and the checks the launch
        checklist probes (rate limiter active, backup age, queue age) (US-604, US-904, US-908). Never carries source
        payloads or internal ids. Unauthenticated, edge-cached 60 s.
      x-tier: public
      x-status: planned
      x-sprint: 1
      x-prd-stories: [US-604, US-904, US-908]
      security: *sec_public
      responses:
        '200':
          description: Healthy or degraded.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  # ───────────────────────────────────── Assets (docs/21 §3.22-§3.23, ADR 0008) ─────────────────────────────────────
  /v1/assets:
    get:
      operationId: listAssets
      tags: [Assets]
      summary: List assets
      description: >
        Registry-sourced infrastructure with identity (ADR 0008): power plants, pipelines, storage and the other
        eleven asset types (docs/21 §3.22). No lag, no tier gating — every source in scope this sprint is public
        domain or CC BY — but the licence gate applies: an asset whose licence is `restricted`/`unknown` or whose
        source is not on the public surface is absent here and `404` on detail (docs/21 §8 items 1 and 4), and an
        `owners[]` edge recorded under such a licence is omitted from a visible asset. `q` matches name, operator
        name, or an owning/operating organisation's name.
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-104, US-203]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/AssetType'
        - $ref: '#/components/parameters/Technology'
        - $ref: '#/components/parameters/StateCode'
        - $ref: '#/components/parameters/AssetOrganizationFilter'
        - $ref: '#/components/parameters/SlugFilter'
      responses:
        '200':
          description: A page of assets inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/assets/geo:
    get:
      operationId: getAssetsGeo
      tags: [Map, Assets]
      summary: Map payload — clustered assets within a bounding box
      description: >
        Same envelope and clustering contract as `GET /v1/proposals/geo` (docs/04 D-10), over `asset` instead of
        `proposal`: below the split threshold (≤ 500 visible) individual `asset` features are returned, each
        carrying `dominant_asset_type` on clusters above it. No lag, no tier gating; the licence gate applies as on
        `GET /v1/assets` (gated assets are absent from features, totals and `licence_summary`), and an asset whose
        licence forbids raw publication is off the map entirely (its list row and page stay).

        **Line assets** (2026-09-19, owner option (a): pipelines as a GeoJSON line layer first, vector tiles
        later). Every visible asset with a `geom_line` -- `gas_pipeline` and `transmission_line` rows -- is
        returned as a `feature_kind: asset_line` feature with a `LineString` or `MultiLineString` geometry,
        alongside the point/cluster features, whenever `asset_type` is unspecified or names its type. Viewport
        membership for a line is intersection (a vertex inside the bbox or a segment crossing it), never centroid
        containment. Lines are never clustered and never counted toward the 500-marker split. Geometry is
        Douglas-Peucker simplified at `zoom` to about half a pixel (`totals.line_tolerance_deg`; none at zoom ≥ 14),
        so a national view (zoom 4) of ~3,000 pipelines is a few hundred KB. At most 1,500 lines are returned per
        response, longest first; `totals.line_count` is the number in view before that cap and `totals.lines_shown`
        after it. A `technology` filter matches no line (lines carry no technology). A line asset loaded with only
        a representative point is drawn as a point, never as a fabricated line.

        **Company page map.** `organization=<public id>` (comma-separated for OR) restricts the response to the
        assets that organisation owns or operates (`asset_owner`, either role), points and lines alike; with it
        set, `bbox` and `zoom` are optional and default to the whole world at zoom 5, so the page draws everything
        the organisation has in one request. Every feature carries `slug` and `url` for a direct link to the asset
        page. An unknown organisation matches nothing (an empty collection, not an error), as on `GET /v1/assets`.
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-104, US-203]
      security: *sec_public
      parameters:
        - name: bbox
          in: query
          required: false
          description: >-
            `min_lon,min_lat,max_lon,max_lat` in WGS 84. Required unless `organization` is set (then defaults to
            the whole world). Antimeridian-crossing boxes are two requests.
          schema:
            type: string
            pattern: '^-?[0-9]{1,3}(\.[0-9]+)?,-?[0-9]{1,2}(\.[0-9]+)?,-?[0-9]{1,3}(\.[0-9]+)?,-?[0-9]{1,2}(\.[0-9]+)?$'
            examples: ['-106.6,25.8,-93.5,36.5']
        - name: zoom
          in: query
          required: false
          description: >-
            Web-Mercator zoom level driving the cluster radius and the line simplification tolerance. Required
            unless `organization` is set (then defaults to 5).
          schema:
            type: integer
            minimum: 0
            maximum: 22
        - $ref: '#/components/parameters/AssetOrganizationFilter'
        - $ref: '#/components/parameters/IncludeSubsidiaries'
        - $ref: '#/components/parameters/AssetType'
        - $ref: '#/components/parameters/Technology'
        - name: country
          in: query
          description: ISO 3166-1 alpha-2; comma-separated for OR.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              pattern: '^[A-Z]{2}$'
      responses:
        '200':
          description: Clustered asset features and line features for the viewport inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetGeoResponse'
              examples:
                lines:
                  summary: One pipeline line feature and one plant marker at zoom 5
                  value:
                    data:
                      type: FeatureCollection
                      bbox: [-109.1, 36.9, -102.0, 41.1]
                      features:
                        - type: Feature
                          id: asset_01J9PXPE0001
                          geometry:
                            type: LineString
                            coordinates: [[-108.7, 40.4], [-106.9, 40.1], [-104.8, 40.6], [-102.3, 40.9]]
                          properties:
                            feature_kind: asset_line
                            public_id: asset_01J9PXPE0001
                            slug: rockies-express-pipeline-llc-interstate
                            url: https://infraque.com/assets/rockies-express-pipeline-llc-interstate
                            name: Rockies Express Pipeline (Zone 2)
                            operator_name: Rockies Express Pipeline LLC
                            asset_type: gas_pipeline
                            status: operating
                            state_code: US-CO
                            capacity_value: 1800
                            capacity_unit: MMcf/d
                            length_miles: 638.2
                            attributes:
                              pipeline_type: interstate
                              miles: 638.2
                              states_crossed: [US-CO, US-WY, US-NE, US-KS, US-MO, US-IL]
                              segment_count: 14
                              part_count: 14
                            source:
                              source_id: us.eia.atlas.pipelines
                              source_name: EIA Energy Atlas — Natural Gas Pipelines
                              source_url: https://atlas.eia.gov/datasets/natural-gas-interstate-and-intrastate-pipelines
                              retrieved_at: '2026-09-19T05:00:00Z'
                              licence_id: us-gov-public-domain
                              reuse_class: open
                              attribution_text: 'Source: U.S. Energy Information Administration (public domain)'
                        - type: Feature
                          id: asset_01J3Z8C4X1
                          geometry:
                            type: Point
                            coordinates: [-104.7, 40.2]
                          properties:
                            feature_kind: asset
                            public_id: asset_01J3Z8C4X1
                            slug: fort-st-vrain-us-co-470
                            url: https://infraque.com/assets/fort-st-vrain-us-co-470
                            name: Fort St. Vrain
                            operator_name: Public Service Co of Colorado
                            asset_type: power_plant
                            status: operating
                            technology: gas_cc
                            technology_raw: Natural Gas Fired Combined Cycle
                            technologies:
                              gas_cc: 969
                            capacity_mw: 969
                            unit_count: 4
                            commissioned_year: 1996
                            state_code: US-CO
                            county_name: Weld
                            source:
                              source_id: us.eia.860m
                              source_name: EIA-860M Monthly Generator Inventory
                              source_url: https://www.eia.gov/electricity/data/eia860m/
                              retrieved_at: '2026-09-01T05:00:00Z'
                              licence_id: us-gov-public-domain
                              reuse_class: open
                              attribution_text: 'Source: U.S. Energy Information Administration (public domain)'
                      totals:
                        records: 2
                        clustered: false
                        asset_type_counts:
                          gas_pipeline: 1
                          power_plant: 1
                        technology_counts:
                          gas_cc: 1
                        line_count: 1
                        lines_shown: 1
                        line_tolerance_deg: 0.02197265625
                    meta:
                      tier: public
                      lag_days: 0
                      data_as_of: '2026-09-19T12:00:00Z'
                      generated_at: '2026-09-19T12:00:00Z'
                      request_id: req_9f2c1a
                      terms_url: https://infraque.com/terms
                    licence_summary:
                      sources:
                        - source_id: us.eia.atlas.pipelines
                          name: EIA Energy Atlas — Natural Gas Pipelines
                          operator: U.S. Energy Information Administration
                          licence_id: us-gov-public-domain
                          licence_name: U.S. Government work (public domain)
                          licence_url: https://www.usa.gov/government-copyright
                          reuse_class: open
                          attribution_text: 'Source: U.S. Energy Information Administration (public domain)'
                          requires_link_back: false
                          record_count: 1
                          retrieved_at_max: '2026-09-19T05:00:00Z'
                        - source_id: us.eia.860m
                          name: EIA-860M Monthly Generator Inventory
                          operator: U.S. Energy Information Administration
                          licence_id: us-gov-public-domain
                          licence_name: U.S. Government work (public domain)
                          licence_url: https://www.usa.gov/government-copyright
                          reuse_class: open
                          attribution_text: 'Source: U.S. Energy Information Administration (public domain)'
                          requires_link_back: false
                          record_count: 1
                          retrieved_at_max: '2026-09-01T05:00:00Z'
                      attribution_line: 'Sources: U.S. Energy Information Administration (public domain).'
                      redistribution: 'Every source in this payload is public domain; all rows may be redistributed with attribution.'
                    redactions: []
            application/geo+json:
              schema:
                $ref: '#/components/schemas/AssetGeoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/assets/{public_id}:
    parameters:
      - $ref: '#/components/parameters/AssetPublicId'
    get:
      operationId: getAsset
      tags: [Assets]
      summary: Asset detail
      description: >-
        Canonical fields, `attributes` (the type's objective feature set only), `owners[]` with role and share
        (docs/21 §3.23), `geometry` (the line, simplified to ~75 m, for a line asset; the representative point
        otherwise) and `length_miles` (the registry's stated value, else the geodesic length of the stored line,
        null for a point asset). `geometry` is `null` with a `redactions[]` row (`field: geometry`, reason
        `licence`) when the asset's licence forbids raw publication -- no source in scope today does.
        `404` when the asset's licence is `restricted`/`unknown` or its source is not on the public surface.
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-104, US-203]
      security: *sec_public
      responses:
        '200':
          description: The asset inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/assets/{public_id}/nearby-proposals:
    parameters:
      - $ref: '#/components/parameters/AssetPublicId'
    get:
      operationId: listAssetNearbyProposals
      tags: [Assets, Proposals, Map]
      summary: Exact-grade proposals near this asset
      description: >
        Proposals whose `location.precision = exact` (ADR 0008: region-grade and none-grade proposals are never
        returned here) within `radius_km` of the asset's geometry, public-tier visibility rules applied, nearest
        first. For a line asset `distance_km` is measured to the nearest point of the line itself, never to its
        representative point (2026-09-19); for a point asset it is the great-circle distance to the point. Empty,
        with a `redactions[]` row, when the asset's geometry is withheld under its licence.
        "Exact" is judged as served: a proposal stored `exact` under a licence with `allows_raw_publication = false`
        is region grade on every non-admin surface and is excluded, since a distance to it would disclose the
        withheld point. `404` when the asset itself is licence-gated.
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-104, US-203]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/RadiusKm'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Nearby proposals inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyProposalsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/organizations/{public_id}/assets:
    parameters:
      - $ref: '#/components/parameters/OrganizationPublicId'
    get:
      operationId: listOrganizationAssets
      tags: [Organizations, Assets]
      summary: The organisation's assets
      description: >-
        Assets this organisation owns or operates, through `asset_owner`: one row per edge, each an `Asset`
        (with `asset_type`, `attributes`, `length_miles`) annotated with `role`, `share_pct` and `as_of` (docs/21
        §3.23); an asset the organisation both owns and operates appears once per role. `role` and `asset_type`
        filter the page; `totals` counts the whole set regardless of filters or paging, so the company page can
        say "operates 3 pipelines, owns 2 plants" from one call. Licence-gated assets are omitted, as on
        `GET /v1/assets`. Each row's `held_by` names the organisation that holds the edge, which differs from the
        path organisation only with `include_subsidiaries=true`.
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-203]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/AssetOwnerRoleFilter'
        - $ref: '#/components/parameters/AssetType'
        - $ref: '#/components/parameters/IncludeSubsidiaries'
      responses:
        '200':
          description: A page of the organisation's assets, with role annotations and totals, inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAssetsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/organizations/{public_id}/nearby-proposals:
    parameters:
      - $ref: '#/components/parameters/OrganizationPublicId'
    get:
      operationId: listOrganizationNearbyProposals
      tags: [Organizations, Assets, Proposals, Map]
      summary: Exact-grade proposals near any of the organisation's assets
      description: >
        The union of `GET /v1/assets/{public_id}/nearby-proposals` over the organisation's visible assets (owned
        or operated, optionally narrowed by `role` and `asset_type`), deduplicated: each proposal appears once, at
        its distance to the nearest of those assets, which `nearest_asset` names. Distance is to the geometry --
        the pipe for a line asset, the point for a plant. At most 200 assets are measured from (`asset_owner`
        order; `totals.assets_considered` says how many were); results are nearest first and capped by `limit`,
        with `page.has_more` when more lie within the radius. Same exact-grade and licence rules as the per-asset
        endpoint.
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-104, US-203]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/RadiusKm'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/AssetOwnerRoleFilter'
        - $ref: '#/components/parameters/AssetType'
        - $ref: '#/components/parameters/IncludeSubsidiaries'
      responses:
        '200':
          description: Nearby proposals, each with the nearest asset, inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationNearbyProposalsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/geo/regions:
    get:
      operationId: getGeoRegions
      tags: [Map]
      summary: Region polygons for the map
      description: >
        `MultiPolygon` GeoJSON features for the `level` requested, from the vendored Census cartographic-boundary
        files (county, state) and the existing country outlines (ADR 0008) — the polygon a `region`-placement
        proposal/asset feature's `region_id` keys into. Cacheable for a day.
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-104]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/RegionLevel'
        - $ref: '#/components/parameters/RegionIds'
      responses:
        '200':
          description: Region polygon features inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  # ───────────────────────── Built-infrastructure context layer (docs/00-PLAN.md 2026-09-14) ─────────────────────────
  /v1/context/plants/geo:
    get:
      operationId: getContextPlantsGeo
      tags: [Context]
      summary: Map payload — existing plants beneath the proposals map (alias for asset_type=power_plant)
      description: |
        Kept for the shipped map (ADR 0008 consequence): an alias for `GET /v1/assets/geo` with `asset_type` forced
        to `power_plant` — same response shape (`feature_kind: asset` / `asset_cluster`), same clustering contract
        (docs/04 D-10). `asset_type` itself is not an accepted parameter here; it is what this path means, not a
        choice. Every source in scope this sprint (EIA-860M) is public domain, so this is public on every tier with
        no publish delay and no restricted-precision rule; the asset licence gate still applies (a `power_plant`
        under a `restricted`/`unknown` licence is absent).

        Budget: ≤ 2,000 features (docs/04 D-13).
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-101, US-104]
      security: *sec_public
      parameters:
        - $ref: '#/components/parameters/Bbox'
        - $ref: '#/components/parameters/Zoom'
        - name: technology
          in: query
          description: Normalised technology tokens (`pipeline.normalize.classify_tech` vocabulary); comma-separated for OR. Unknown values are rejected.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              examples: [wind, solar, gas_cc]
        - name: country
          in: query
          description: ISO 3166-1 alpha-2; comma-separated for OR. Default is every country in scope (US only this sprint).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              pattern: '^[A-Z]{2}$'
      responses:
        '200':
          description: Clustered plant (asset) features for the viewport inside the attribution envelope.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetGeoResponse'
            application/geo+json:
              schema:
                $ref: '#/components/schemas/AssetGeoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/ui-events:
    post:
      operationId: createUiEvent
      tags: [Context]
      summary: Record an identifier-free interaction counter
      description: |
        docs/00-PLAN.md 2026-09-14: the context layer ships with a measurement, not an assumption. `name` must be
        one of the allowlisted UI event names (`services/db/models.py::UI_EVENT_NAMES`); `props` carries at most 8
        keys from a fixed, per-name allowlist, and never a value shaped like an email, an IPv4/IPv6 address, a UUID
        or a 20+ character token — those are rejected outright, not merely dropped (docs/21 §3.21). No auth; the
        caller's IP is used only to enforce the rate limit below and is never read into the stored row, logged, or
        otherwise retained. Rate-limited per IP at 60 per minute — well under the public tier's per-hour ceiling,
        since this is a write with essentially zero cost per call and a real abuse surface (anonymous, no key).
      x-tier: public
      x-status: live
      x-sprint: 4
      x-prd-stories: [US-104]
      security: *sec_public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UiEventCreateRequest'
      responses:
        '202':
          description: Accepted; body always empty.
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  # ───────────────────────────── §3.2 Pro and API — live, key or session required ─────────────────────────────
  /v1/auth/register:
    post:
      operationId: authRegister
      tags: [Account]
      summary: Create a password account
      description: |
        Creates a `personal` account and its first user (`services/api/auth.py` `register_user`),
        sends a verification email through the `EmailPort` (`services/README.md` "Pro tier and
        alerts" decision 2: password auth alongside docs/20 §7's passwordless magic-link/Google,
        which remain unbuilt), and signs the caller in immediately — `email_verified` is `false`
        in the response until the link is followed. `dev_verification_url` is present only when
        no `RESEND_API_KEY` is configured (the dry-run `EmailPort`), so the local/CI flow can be
        completed without a mail provider; it is never present against a real one.
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-602]
      security:
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRegister'
      responses:
        '201':
          description: Account created; a session cookie is set.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: An active user already has this email address.
          headers: *std_headers
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://api.infraque.com/errors/conflict
                title: Email already registered
                status: 409
                code: conflict
                instance: /v1/auth/register
                request_id: req_4b1eaa
                docs: https://infraque.com/docs/api/errors#conflict
        <<: *common_errors

  /v1/auth/login:
    post:
      operationId: authLogin
      tags: [Account]
      summary: Sign in with email and password
      description: |
        `authenticate_user` plus the seat check US-602 AC2 requires: a login above
        `account.seats` concurrent, non-revoked, unexpired sessions is refused with
        `403 seat_limit` naming the seat count and the active session count, rather than silently
        evicting another session.
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-602]
      security:
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLogin'
      responses:
        '200':
          description: Signed in; a session cookie is set.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/SeatLimit'
        <<: *common_errors

  /v1/auth/logout:
    post:
      operationId: authLogout
      tags: [Account]
      summary: Revoke the current session
      description: Revokes the `UserSession` row the caller's cookie names and clears the cookie. Idempotent in effect — a second call with the same (now-revoked) cookie answers `401`, not `204` again.
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-602]
      security:
        - Session: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        <<: *common_errors

  /v1/auth/verify:
    get:
      operationId: authVerifyEmail
      tags: [Account]
      summary: Confirm an email-verification link
      description: |
        Verifies the itsdangerous-signed token `POST /v1/auth/register` and
        `POST /v1/auth/resend-verification` put in the verification email (max age 24h). Setting
        `email_verified_at` is idempotent — following the same valid link twice answers `200`
        both times.
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-602]
      security:
        - {}
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Email verified (or already was).
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthVerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        <<: *common_errors

  /v1/auth/resend-verification:
    post:
      operationId: authResendVerification
      tags: [Account]
      summary: Resend the email-verification link
      description: '`200 {verified: true}` when the caller''s email is already verified (not a re-send); otherwise sends a new link and answers `202`. `dev_verification_url` is present under the same dry-run condition as `authRegister`.'
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-602]
      security:
        - Session: []
      responses:
        '200':
          description: Already verified; nothing was sent.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthVerifyResponse'
        '202':
          description: A new verification email was sent.
          headers: *std_headers
          content:
            application/json:
              schema:
                type: object
                required: [verification_sent]
                properties:
                  verification_sent:
                    type: boolean
                  dev_verification_url:
                    type: string
                    description: Present only when no `RESEND_API_KEY` is configured (dry-run `EmailPort`) — never present against a real provider.
        '401':
          $ref: '#/components/responses/Unauthenticated'
        <<: *common_errors

  /v1/me:
    get:
      operationId: getMe
      tags: [Account]
      summary: Current user, account, entitlement and limits
      description: |
        `user.role` (viewer | member | operator | owner) and `account.entitlement` (public | pro | api | admin) are
        distinct (docs/21 C-5). Entitlement is read from the mirror refreshed through the CRM/ERP adapter with a
        TTL ≤ 15 minutes (US-602 AC1); `entitlement_stale = true` when the adapter is unavailable. `seats` /
        `seats_used` back the seat check: a login above the seat count answers `403 seat_limit` (US-602 AC2).
        `limits` echoes the caller's effective rate-limit policy.
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-602, US-701, US-702]
      security:
        - Session: []
        - ApiKey: [read:public]
      responses:
        '200':
          description: The caller's identity and entitlement.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/SeatLimit'
        <<: *common_errors

  /v1/account:
    get:
      operationId: getAccount
      tags: [Account]
      summary: Account and subscription mirror
      description: The account row and its mirrored subscriptions (docs/21 §3.13, §3.14). Authoritative for nothing; `mirrored_at` and `drift_flag` say how fresh it is.
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-602, US-902]
      security:
        - Session: [member, owner]
        - ApiKey: [read:live]
      responses:
        '200':
          description: The account.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        <<: *common_errors

  /v1/billing/checkout:
    post:
      operationId: createBillingCheckout
      tags: [Billing]
      summary: Start a Stripe Checkout session
      description: |
        Any signed-in user may buy — this needs a session, not an existing entitlement
        (`services/billing/router.py`'s `require_session_only("public")`). Creates a Stripe customer
        on first purchase (`account.billing_ref` persisted from the response) and a subscription-mode
        Checkout Session for `plan`/`seats`; the browser redirects the user to `data.url`.
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-602]
      security:
        - Session: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutCreate'
      responses:
        '201':
          description: Checkout session created.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/SorUnavailable'
        default:
          $ref: '#/components/responses/Problem'

  /v1/billing/portal:
    post:
      operationId: openBillingPortal
      tags: [Billing]
      summary: Open the Stripe customer portal
      description: |
        `409 conflict` when the account has no `billing_ref` yet (no checkout has ever completed) —
        the fix is `POST /v1/billing/checkout` first, not a retry.
      x-tier: public
      x-status: live
      x-sprint: 3
      x-prd-stories: [US-602]
      security:
        - Session: []
      responses:
        '200':
          description: Portal session created.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/SorUnavailable'
        default:
          $ref: '#/components/responses/Problem'

  /v1/saved-searches:
    get:
      operationId: listSavedSearches
      tags: [Saved searches & alerts]
      summary: List saved searches
      description: Mode, `last_run_at`, `last_match_count` and status per saved search (US-504 AC1).
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-501, US-504]
      security: *sec_pro
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: The caller's saved searches.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchListResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenTier'
        <<: *common_errors
    post:
      operationId: createSavedSearch
      tags: [Saved searches & alerts]
      summary: Save a search
      description: |
        Stores the filter definition (`query`, in the grammar of `x-filter-grammar`), never the result set
        (US-501 AC2). Any filtered list — proposals, opportunities, events, matches — can be saved (US-501 AC1).
        Limit 25 per user (configurable); the 26th answers `403 forbidden_tier` naming the quota. `delivery_mode`
        defaults to `daily` (US-502 AC1); `channels` may include `rss`, which mints a private `rss_token` feed.
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-501, US-502]
      security: *sec_pro
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedSearchCreate'
      responses:
        '201':
          description: Created.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenTier'
        '409':
          $ref: '#/components/responses/Conflict'
        <<: *common_errors

  /v1/saved-searches/{saved_search_id}:
    parameters:
      - $ref: '#/components/parameters/SavedSearchId'
    get:
      operationId: getSavedSearch
      tags: [Saved searches & alerts]
      summary: Saved search detail
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-504]
      security: *sec_pro
      responses:
        '200':
          description: The saved search.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors
    patch:
      operationId: updateSavedSearch
      tags: [Saved searches & alerts]
      summary: Edit or pause a saved search
      description: Name, query, delivery mode, channels or `status` (`active` | `paused`); the change is reflected in the next delivery cycle (US-504 AC1).
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-504, US-502]
      security: *sec_pro
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedSearchUpdate'
      responses:
        '200':
          description: Updated.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors
    delete:
      operationId: deleteSavedSearch
      tags: [Saved searches & alerts]
      summary: Delete a saved search
      description: Stops its alerts within one delivery cycle and revokes its `rss_token` (US-504 AC1, US-502 AC3).
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-504]
      security: *sec_pro
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/saved-searches/{saved_search_id}/preview:
    parameters:
      - $ref: '#/components/parameters/SavedSearchId'
    post:
      operationId: previewSavedSearch
      tags: [Saved searches & alerts]
      summary: Run the query now
      description: Returns the records or events the saved search would alert on, from the caller's tier, without moving `watermark_seq` (US-501 AC2).
      x-tier: pro
      x-status: live
      x-sprint: 2
      x-prd-stories: [US-501]
      security: *sec_pro
      parameters:
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Preview results; `data` items are proposals, opportunities, events or matches per `entity`.
          headers: *std_headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchPreviewResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        <<: *common_errors

  /v1/alerts/unsubscribe:
    post:
      operationId: unsubscribeAlert
      tags: [Saved searches & alerts]
      summary: Stop email alerts for a saved search
      description: |
        Public, no-session endpoint: `Alert.unsubscribe_token` (put in every digest email body by
[...]
